<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - VD3 | IOTSTAR SHOP">IOTSTAR SHOP - VD3</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<header th:replace="~{vd3/fragments/header :: header}"></header>
<main layout:fragment="content" class="container"></main>
<footer th:replace="~{vd3/fragments/footer :: footer}"></footer>
</body>
</html>
